:root {
    --primary-color: #353535 !important;
    --body-bgcolor: #ffffff !important;
    --body-color: #2b3434 !important;
}

* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    line-height: 1.2;
    background-color: #d51a1a;
    color: var(--body-color);
    background-color: var(--body-bgcolor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex
;
    justify-content: flex-start;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
    height: auto;
    transition: 1s all;
}

img:hover {
    opacity: .9;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

.line-clamp5 {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.register_container {
    width: 28vw;
    height: 150rem;
    max-width: 50vw;
    min-height: 37rem;
    margin: auto;
    margin-top: 16vh;
    padding: 6rem;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px #00000036;
    display: flex;
    flex-direction: column;
}

.form_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 2rem;
}

.buttons{
    padding: 1rem;
    display: flex;
    gap: 1rem;
    margin-top: 21rem;
    position: absolute;
}

.border-top-0{
    width: 22vw;
}

@media (max-width: 768px) {
    .register_container {
        padding: 10px;
    }

    .form-control {
        padding: 8px;
    }

    h1 {
        font-size: 24px;
    }
}

/* Daha küçük ekranlar için stil tanımlamaları */
@media (max-width: 480px) {
    .register_container {
        padding: 5px;
    }

    .form-control {
        padding: 6px;
    }

    h1 {
        font-size: 20px;
    }
}